@import "variables";
@import "mixin";

.product-assets {
  display: flex;
  column-gap: 25px;
}

.btn {
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #ffff;
}

.product {
  @include border;
  max-width: 305px;

  &__sale {
    position: absolute;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 15px;
  }

  &__vendor-code {
    @include text-2s(false);
    color: $gray-4;
  }

  &__title {
    @include text-2s(true);
  }

  &__buy-block, &__rent-block {
    display: flex;
    justify-content: space-between;
  }

  &__sale-price, &__rent {
    display: flex;
    flex-direction: column;

    .product__current-price {
      color: $red-1;
    }
  }

  &__old-price {
    @include text-2l(false);
    color: $gray-3;
    text-decoration: line-through;
  }

  &__price{
    @include text-1;
  }

  &__current-price {
    @include text-1;
  }

  &__duration {
    @include text-2l(false);
  }

  &__btn {
    border: 1px solid $red-1;
    color: $red-1;
    transition: background-color .2s ease;
    @include text-2m(true);

    &:hover {
      background: $red-4;
    }
  }

  &__btn-rent {
    border: 1px solid $blue-1;
    color: $blue-1;
    transition: background-color .2s ease;
    @include text-2m(true);

    &:hover {
      background: $blue-3;
    }
  }
}