$red-1: #E24041;
$red-2: #F14E4F;
$red-3: #931515;
$red-4: #FEF5F6;

$gray-1: #F8F9FA;
$gray-2: #EBEBF0;
$gray-3: #B5B4B8;
$gray-4: #363440;
$gray-5: #252129;

$green-1: #33B533;
$green-2: #65DA65;
$green-3: #ABEFAB;

$yellow-1: #FFD80B;
$yellow-2: #FFE86E;
$yellow-3: #FFF5C2;

$blue-1: #3348B5;
$blue-2: #658DDA;
$blue-3: #E9F3FF;